* {
    margin: 0;
    font-family: "Open Sans", sans-serif, Arial;
    border: border-box;
}

.open-sans-uniquifier {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #0f1111;
    width: 100%;
    height: 60px;
}

/* nav-logo */
.nav-logo {
    height: 50px;
    width: 114px;
}

#logo {
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100%;
    background-size: cover;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 1px solid white;
}

/* nav-address */
.nav-address {
    color: white;
    width: 88.64px;
}

#addressFirst {
    font-size: 0.8rem;
    color: #CCCCCC;
    margin-left: 16px;
}

#addressSecond {
    height: 16px;
    width: 52.64px;
    font-size: 1rem;
    color: #FFFFFF;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* nav-search */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 750px;
    height: 40px;
    border-radius: 4px;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 87%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9af4e;
    width: 45px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    font-size: 1.3rem;
    color: #0f1111;
}

/* nav-lang */
.nav-lang {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    height: 50px;
}

.nav-lang-flag {
    font-size: 1.2rem;
}

.lang-select {
    margin: 2px;
    width: 93px;
}

/* nav-signin */
.nav-signin {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 113.53px;
    height: 50px;
}

#signinFirst {
    font-size: 0.7rem;
    color: #FFFFFF;
    width: 70.41px;
    height: 14px;
}

#signinSecond {
    display: flex;
    font-size: 0.8rem;
    color: #FFFFFF;
    width: 113.53px;
    height: 15px;
    font-weight: bold;
}

/* Returns & Orders */
#ordersFirst {
    font-size: 0.7rem;
    color: #FFFFFF;
    width: 70.41px;
    height: 14px;
}

#ordersSecond {
    font-size: 0.8rem;
    color: #FFFFFF;
    width: 113.53px;
    height: 15px;
    font-weight: bold;
}

/* Returns & Orders */
.nav-orders {
    align-content: center;
    align-items: center;
    width: 76.95px;
    height: 50px;
}

/* nav-cart */
.nav-cart i {
    font-size: 2.5rem;
    color: #FFFFFF;
    font-weight: bold;
}

.nav-cart {
    font-size: 0.85rem;
    color: #FFFFFF;
    font-weight: bold;
}

/* navbar-panel */
.panel {
    display: flex;
    color: #FFFFFF;
    background-color: #232F3E;
    height: 40px;
    width: 100%;
    align-items: center;
}

.panel-All {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 20px;
    font-weight: bold;
    height: 40px;
}

.panel-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    width: 93%;
    font-size: 0.9rem;
    font-weight: 500;
}

.panel-items p {
    padding: 6px 0px 6px 0px;
    align-items: center;
}

/* hero-section */
.hero-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(hero_image.jpg);
    background-size: cover;
    height: 350px;
}

.hero-message {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #F5F6F6;
    height: 22px;
    font-size: 0.85rem;
    font-weight: 550;
    padding: 10px;
    width: 92%;
    margin-bottom: 20px;
}

.hero-message a {
    color: #2162A1;
}

.shop-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #b1c8cc;
}

.box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 292.6px;
    height: 420px;
    background-color: #FFFFFF;
    margin: 10px;
}